<p-header>
    <form [formGroup]="_CityForm">
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <label style="font-weight: bold"> Country </label>
          <p-dropdown [options]="_countrydropdown" [style]="{'width':'100%'}" [(ngModel)]="_CityData.country_id"
            [filter]="true" name="country_id" formControlName="country_id" (onChange)="GetState($event.value)"></p-dropdown>
          <span style="color: red"
            *ngIf="(_CityForm.controls['country_id'].dirty || _CityForm.controls['country_id'].touched || _CityForm.controls['country_id'].untouched || _CityForm.controls['country_id'].valueChanges) && _CityForm.controls['country_id'].invalid">
            Country is required
          </span>
        </div>
      </div>
      <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <label style="font-weight: bold"> State </label>
            <p-dropdown [options]="_statedropdown" [style]="{'width':'100%'}" [(ngModel)]="_CityData.state_id"
              [filter]="true" name="state_id" formControlName="state_id" (selectionChange)="GetState($event.value)"></p-dropdown>
            <span style="color: red"
              *ngIf="(_CityForm.controls['state_id'].dirty || _CityForm.controls['state_id'].touched || _CityForm.controls['state_id'].untouched || _CityForm.controls['state_id'].valueChanges) && _CityForm.controls['state_id'].invalid">
              State is required
            </span>
          </div>
        </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <label style="font-weight: bold"> City </label>
          <input pInputText formControlName="name" class="form-control" [(ngModel)]="_CityData.name" name="name"
            type="text" placeholder="City" />
          <span style="color: red"
            *ngIf="(_CityForm.controls['name'].dirty || _CityForm.controls['name'].touched || _CityForm.controls['name'].untouched || _CityForm.controls['name'].valueChanges) && _CityForm.controls['name'].invalid">
            Name is required
          </span>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <label style="font-weight: bold"> Code </label>
          <input pInputText formControlName="code" class="form-control" [(ngModel)]="_CityData.code" name="code"
            type="text" placeholder="Code" />
          <span style="color: red"
            *ngIf="(_CityForm.controls['code'].dirty || _CityForm.controls['code'].touched || _CityForm.controls['code'].untouched || _CityForm.controls['code'].valueChanges) && _CityForm.controls['code'].invalid">
            Code is required
          </span>
        </div>
      </div>
    </form>
  </p-header>
  <hr>
  <p-footer class="pull-right">
    <button pButton type="button" *ngIf="_CityData.id == 0" [disabled]="_CityForm.invalid"
      style="width: 100px;margin-right: 10px" label="Save" (click)="CreateOrUpdate()" class="ui-button-success"></button>
    <button pButton type="button" *ngIf="_CityData.id > 0" [disabled]="_CityForm.invalid"
      style="width: 100px;margin-right: 10px" label="Update" (click)="CreateOrUpdate()"
      class="ui-button-success"></button>
    <button pButton type="button" style="width: 100px;margin-right: 10px" *ngIf="_CityData.id > 0" label="Delete"
      (click)="Delete()" class="ui-button-danger"></button>
  </p-footer>