<body class="inbd">
  <!-- <div class="big-title">
    <p-tabMenu [model]="items"></p-tabMenu>
  </div>
  แสดงสินค้า
  <br><br> -->
  
  <div class="card">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card">
          <p-tabView [(activeIndex)]="activeIndex" styleClass="center">
              <p-tabPanel header="เชื้อราบิวเวอร์เรีย">
                <div class="p-grid">
                  <div class="p-col-12 p-md-10 p-offset-1">
                    <p-fieldset>
                        <p-header>เชื้อราบิวเวอร์เรีย คือ </p-header>
                        Content
                    </p-fieldset>
                  </div>
                </div>
                <div class="p-grid">
                  <div class="p-col-12 p-md-10 p-offset-1">
                    <p-fieldset>
                        <p-header>การทำลายแมลงศัตรูพืช</p-header>
                        Content
                    </p-fieldset>
                  </div>
                </div>
                <div class="p-grid">
                  <div class="p-col-12 p-md-10 p-offset-1">
                    <p-fieldset>
                        <p-header>วิธีเลี้ยงเชื้อราชนิดสด</p-header>
                        Content
                    </p-fieldset>
                  </div>
                </div>
                <div class="p-grid">
                  <div class="p-col-12 p-md-10 p-offset-1">
                    <p-fieldset>
                        <p-header>การนำเชื้อสดไปใช้</p-header>
                        Content
                    </p-fieldset>
                  </div>
                </div>
                <div class="p-grid">
                  <div class="p-col-12 p-md-10 p-offset-1">
                    <p-fieldset>
                        <p-header>ตัวอย่างแมลงศัตรูพืชที่ควบคุมได้</p-header>
                        Content
                    </p-fieldset>
                  </div>
                </div>  
              </p-tabPanel>
              <p-tabPanel header="เชื้อราเมธาไรเซียม">
                <div class="p-grid">
                  <div class="p-col-12 p-md-10 p-offset-1">
                    <p-fieldset>
                        <p-header>เชื้อราเมธาไรเซียม คือ </p-header>
                        Content
                    </p-fieldset>
                  </div>
                </div>
                <div class="p-grid">
                  <div class="p-col-12 p-md-10 p-offset-1">
                    <p-fieldset>
                        <p-header>การทำลายแมลงศัตรูพืช</p-header>
                        Content
                    </p-fieldset>
                  </div>
                </div>
                <div class="p-grid">
                  <div class="p-col-12 p-md-10 p-offset-1">
                    <p-fieldset>
                        <p-header>วิธีเลี้ยงเชื้อราชนิดสด</p-header>
                        Content
                    </p-fieldset>
                  </div>
                </div>
                <div class="p-grid">
                  <div class="p-col-12 p-md-10 p-offset-1">
                    <p-fieldset>
                        <p-header>การนำเชื้อสดไปใช้</p-header>
                        Content
                    </p-fieldset>
                  </div>
                </div>
                <div class="p-grid">
                  <div class="p-col-12 p-md-10 p-offset-1">
                    <p-fieldset>
                        <p-header>ตัวอย่างแมลงศัตรูพืชที่ควบคุมได้</p-header>
                        Content
                    </p-fieldset>
                  </div>
                </div>    
              </p-tabPanel>
              <p-tabPanel header="เชื้อราไตรโคเดอร์มา">
                <div class="p-grid">
                  <div class="p-col-12 p-md-10 p-offset-1">
                    <p-fieldset>
                        <p-header>เชื้อราไตรโคเดอร์ม คือ </p-header>
                        Content
                    </p-fieldset>
                  </div>
                </div>
                <div class="p-grid">
                  <div class="p-col-12 p-md-10 p-offset-1">
                    <p-fieldset>
                        <p-header>การทำลายแมลงศัตรูพืช</p-header>
                        Content
                    </p-fieldset>
                  </div>
                </div>
                <div class="p-grid">
                  <div class="p-col-12 p-md-10 p-offset-1">
                    <p-fieldset>
                        <p-header>วิธีเลี้ยงเชื้อราชนิดสด</p-header>
                        Content
                    </p-fieldset>
                  </div>
                </div>
                <div class="p-grid">
                  <div class="p-col-12 p-md-10 p-offset-1">
                    <p-fieldset>
                        <p-header>การนำเชื้อสดไปใช้</p-header>
                        Content
                    </p-fieldset>
                  </div>
                </div>
                <div class="p-grid">
                  <div class="p-col-12 p-md-10 p-offset-1">
                    <p-fieldset>
                        <p-header>ตัวอย่างแมลงศัตรูพืชที่ควบคุมได้</p-header>
                        Content
                    </p-fieldset>
                  </div>
                </div>     
              </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>
</body>