/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Kanit', sans-serif;

}
button{
    color: #ffff;
}

p {
    color: #363636;
    /* color: blueviolet; */
}
label{
    color: #292929;
}

.inbd {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
}
.border-filed {
    padding-top: 1rem;
}
.logo-login{
    padding-left: 5rem;
    padding-top: 3rem;
    width: 80%;
}
small{
    color: gray;
}
