nav{
  overflow: visible;
  padding: 0.5rem;
  background: #f8f9fa;
  color: #495057;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  position: fixed;
  top: 0;
  width: 100%;
}

::ng-deep .menu {
  padding: 0rem;
  background: #f8f9fa;
  color: #495057;
  border: 0px solid #dee2e6;
  border-radius: 0px;
  top: 0;
}



