<app-menubar></app-menubar>

<form [formGroup]=reactiveForm>

    <body class="indb" style="padding-top: 4rem;">
        <br>
        <h2 style="text-align: center;">เข้าสู่ระบบ</h2>
        <hr style="width: 50%;">
        <div class="p-grid">
            <div class="p-col-1"></div>
            <div class="p-col-12 p-md-4 p-lg-4">
                <img src="../../../assets/tcru-image.jpg" class="p-d-block p-mx-auto logo-login">
            </div>
            <div class="p-col-1 p-md-1 p-lg-1"></div>
            <div class="p-col-12 p-md-5 p-lg-5">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-10 orm-group border-filed p-input-filled">
                        <label for="firstname1">ชื่อผู้ใช้</label>
                        <input id="firstname1" type="text" pInputText> 
                    </div>
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-10 orm-group border-filed p-input-filled">
                        <label for="firstname1">รหัสผ่าน</label>
                        <input id="firstname1" type="text" pInputText> 
                    </div>
                </div>
                <br>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-6 form-group">
                        <button type="submit" pButton label="สมัครสมาชิก" routerLink="/login" class="p-button-raised"></button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</form>
<app-footer style="position: fixed; bottom: 0; width: 100%;"></app-footer>