<!-- <form [formGroup]=reactiveForm> -->

  <body class="inbd" style="padding-top: 4rem;">
    <br>
    <h2 style="text-align: center;">ลืมรหัสผ่าน</h2>
    <hr style="width: 50%;">
    <div class="p-grid">
        <div class="p-col-1"></div>
        <div class="p-col-12 p-md-4 p-lg-4">
            <img src="../../../assets/tcru-image.jpg" class="p-d-block p-mx-auto logo-login">
        </div>
        <div class="p-col-1 p-md-1 p-lg-1"></div>
        <div class="p-col-12 p-md-5 p-lg-5">
            <div class="p-fluid p-formgrid p-grid p-align-center">
              <div class="p-col-12 p-md-12 p-lg-12">
                <p>รหัสยืนยันตัวตนจะถูกส่งไปที่ Email</p>
                <p>//--Email--//</p>
                <p> กรุณายืนยัน</p>
              </div>
            </div> 
            <br>
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-6 form-group">
                    <button type="submit" pButton label="ตกลง" routerLink="/login/resetpassword/checkmail"
                        class="p-button-raised"></button>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- </form> -->