<p-header>
  <form [formGroup]="_CurrencyForm">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <label style="font-weight: bold"> Country </label>
        <p-dropdown [options]="_countrydropdown" [(ngModel)]="_CurrencyData.country_id" [style]="{'width':'100%'}"
          [filter]="true" name="country_id" formControlName="country_id"></p-dropdown>
        <span style="color: red"
          *ngIf="(_CurrencyForm.controls['country_id'].dirty || _CurrencyForm.controls['country_id'].touched || _CurrencyForm.controls['country_id'].untouched || _CurrencyForm.controls['country_id'].valueChanges) && _CurrencyForm.controls['country_id'].invalid">
          Country is required
        </span>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <label style="font-weight: bold"> Currency </label>
        <input pInputText formControlName="name" class="form-control" [(ngModel)]="_CurrencyData.name" name="name"
          type="text" placeholder="Currency" />
        <span style="color: red"
          *ngIf="(_CurrencyForm.controls['name'].dirty || _CurrencyForm.controls['name'].touched || _CurrencyForm.controls['name'].untouched || _CurrencyForm.controls['name'].valueChanges) && _CurrencyForm.controls['name'].invalid">
          Currency is required
        </span>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <label style="font-weight: bold"> Code </label>
        <input pInputText formControlName="code" class="form-control" [(ngModel)]="_CurrencyData.code" name="code"
          type="text" placeholder="code" />
        <span style="color: red"
          *ngIf="(_CurrencyForm.controls['code'].dirty || _CurrencyForm.controls['code'].touched || _CurrencyForm.controls['code'].untouched || _CurrencyForm.controls['code'].valueChanges) && _CurrencyForm.controls['code'].invalid">
          Code is required
        </span>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <label style="font-weight: bold"> Symbol </label>
        <input pInputText formControlName="symbol" class="form-control" [(ngModel)]="_CurrencyData.symbol" name="symbol"
          type="text" placeholder="Symbol" />
        <span style="color: red"
          *ngIf="(_CurrencyForm.controls['symbol'].dirty || _CurrencyForm.controls['symbol'].touched || _CurrencyForm.controls['symbol'].untouched || _CurrencyForm.controls['symbol'].valueChanges) && _CurrencyForm.controls['symbol'].invalid">
          Symbol is required
        </span>
      </div>
    </div>

  </form>
</p-header>
<hr>
<p-footer class="pull-right">
  <button pButton type="button" *ngIf="_CurrencyData.id == 0" [disabled]="_CurrencyForm.invalid"
    style="width: 100px;margin-right: 10px" label="Save" (click)="CreateOrUpdate()" class="ui-button-success"></button>
  <button pButton type="button" *ngIf="_CurrencyData.id > 0" [disabled]="_CurrencyForm.invalid"
    style="width: 100px;margin-right: 10px" label="Update" (click)="CreateOrUpdate()"
    class="ui-button-success"></button>
  <button pButton type="button" style="width: 100px;margin-right: 10px" *ngIf="_CurrencyData.id > 0" label="Delete"
    (click)="Delete()" class="ui-button-danger"></button>
</p-footer>