<form [formGroup]=reactiveForm>

    <body class="inbd">

        <div class="p-grid">
            <div class="p-col-1"></div>
            <div class="p-col-12 p-md-4 p-lg-4">
                <img src="../../../assets/tcru-image.jpg" class="p-d-block p-mx-auto logo-login">
            </div>
            <div class="p-col-1 p-md-1 p-lg-1"></div>

            <div class="p-col-12 p-md-5 p-lg-5">


                <div class="p-grid">

                    <div class="p-col-12 p-md-6 p-sm-6 form-group border-filed p-input-filled">
                        <div class="p-inputgroup">
                            <div class="p-field">
                                <label for="name_title">คำนำหน้า</label>
                                <input type="text" id="name_title" pInputText class="p-inputtext-sm form-control w-100"
                                    formControlName="name_title" required aria-describedby="firstname-help" />
                                <a class="text-danger">*</a><small id="password-help">โปรดกรอกรหัสผ่านด้วย a-z
                                    พิมพ์เล็กหรือพิมพ์ใหญ่หรือตัวเลข 6-16 ตัวอักษร</small>
                            </div>
                        </div>
                        <!-- <div class="text-danger" *ngIf="name_title.invalid && (name_title.dirty || name_title.touched)">
                            <div *ngIf="name_title.errors['required']">โปรดกรอกชื่อ</div>
                        </div> -->
                    </div>

                    <div class="p-col-12 p-md-6 p-sm-6 form-group border-filed p-input-filled">
                        <div class="p-inputgroup">
                            <div class="p-field">
                                <label for="firstname">ชื่อ (ภาษาไทย)</label>
                                <input type="text" id="password" pInputText class="p-inputtext-sm form-control w-100"
                                    formControlName="firstname" required aria-describedby="firstname-help" />
                                <a class="text-danger">*</a><small id="password-help">โปรดกรอกรหัสผ่านด้วย a-z
                                    พิมพ์เล็กหรือพิมพ์ใหญ่หรือตัวเลข 6-16 ตัวอักษร</small>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
                            <div *ngIf="firstname.errors['required']">โปรดกรอกชื่อ</div>
                        </div>
                    </div>

                    <div class="p-col-12 p-md-6 p-lg-6 form-group border-filed p-input-filled">
                        <div class="p-inputgroup">
                            <div class="p-field">
                                <label for="lastname">นามสกุล (ภาษาไทย)</label>
                                <input type="text" id="lastname" pInputText class="p-inputtext-sm form-control w-100"
                                    formControlName="lastname" required aria-describedby="lastname-help" />
                                <a class="text-danger">*</a><small id="password-help">โปรดกรอกรหัสผ่านด้วย a-z
                                    พิมพ์เล็กหรือพิมพ์ใหญ่หรือตัวเลข 6-16 ตัวอักษร
                                </small>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
                            <div *ngIf="lastname.errors['required']">โปรดกรอกนามสกุล</div>
                        </div>
                    </div>

                    <div class="p-col-12 p-md-6 p-sm-6 form-group border-filed p-input-filled">
                        <div class="p-inputgroup">
                            <div class="p-field">
                                <label for="telephone">เบอร์โทรศัพท์</label>
                                <input type="text" id="telephone" pInputText class="p-inputtext-sm form-control w-100"
                                    formControlName="telephone" required aria-describedby="firstname-help" />
                                <a class="text-danger"></a><small id="telephone-help"></small>
                            </div>
                        </div>
                    </div>

                    <div class="p-col-12 p-md-6 p-sm-6 form-group border-filed p-input-filled">
                        <div class="p-inputgroup">
                            <div class="p-field">
                                <label for="address">ที่อยู่จัดส่งสินค้า</label>
                                <input type="text" id="password" pInputText class="p-inputtext-sm form-control w-100"
                                    formControlName="address" required aria-describedby="firstname-help" />
                                <a class="text-danger"></a><small id="password-help"></small>
                            </div>
                        </div>
                    </div>

                    <div class="p-col-12 p-md-6 p-sm-6 form-group border-filed p-input-filled">
                        <div class="p-inputgroup">
                            <div class="p-field">
                                <label for="address">จังหวัด</label>
                                <input type="text" id="password" pInputText class="p-inputtext-sm form-control w-100"
                                    formControlName="province" required aria-describedby="firstname-help" />
                                <a class="text-danger"></a><small id="password-help"></small>
                            </div>
                        </div>
                    </div>

                    <div class="p-col-12 p-md-6 p-lg-6 form-group border-filed p-input-filled">
                        <div class="p-inputgroup">
                            <div class="p-field">
                                <label for="district">อำเภอ</label>
                                <input type="text" id="district" pInputText class="p-inputtext-sm form-control w-100"
                                    formControlName="district" required aria-describedby="district-help" />
                            </div>
                        </div>
                        <!-- <div class="text-danger" *ngIf="district.invalid && (district.dirty || district.touched)">
                            <div *ngIf="district.errors['required']">โปรดกรอกนามสกุล</div>
                        </div> -->
                    </div>

                    <div class="p-col-12 p-md-6 p-lg-6 form-group border-filed p-input-filled">
                        <div class="p-inputgroup">
                            <div class="p-field">
                                <label for="sub_district">ตำบล</label>
                                <input type="text" id="sub_district" pInputText
                                    class="p-inputtext-sm form-control w-100" formControlName="sub_district" required
                                    aria-describedby="sub_district-help" />
                            </div>
                        </div>
                        <!-- <div class="text-danger"
                            *ngIf="sub_district.invalid && (sub_district.dirty || sub_district.touched)">
                            <div *ngIf="sub_district.errors['required']">โปรดกรอกนามสกุล</div>
                        </div> -->
                    </div>

                    <div class="p-col-12 p-md-6 p-sm-6 form-group border-filed p-input-filled">
                        <div class="p-inputgroup">
                            <div class="p-field">
                                <label for="postal_code">รหัสไปรษณี</label>
                                <input type="text" id="password" pInputText class="p-inputtext-sm form-control w-100"
                                    formControlName="postal_code" required aria-describedby="firstname-help" />
                                <a class="text-danger"></a><small id="password-help"></small>
                            </div>
                        </div>
                    </div>


                    <br>
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-6 form-group">
                            <button type="submit" pButton label="บันทึก" [disabled]="reactiveForm.invalid"
                                (click)="onClickSubmit()" class="p-button-raised"></button>
                        </div>
                    </div>






                </div>
                <br>

            </div>

        </div>
    </body>
</form>