<form [formGroup]=reactiveForm>
    <body class="inbd">
        <br>
        <br>
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <p-card>
                    <div class="p-grid">
                        <div class="p-col-6 p-md-4 p-lg-4"></div>
                        <div class="p-col-6 p-md-8 p-lg-8">
                            <p-card header="header">
                                search
                                <!-- <label for="username">username</label>
                                <input type="text" id="username" pInputText class="p-inputtext-lg form-control w-100"
                                    formControlName="username" required />
                                <button type="submit" pButton label="สมัครสมาชิก"
                                    (click)="onClickSearch()" class="p-button-raised"></button> -->
                                <!-- <input type="text" class="p-inputtext-lg" placeholder="Large"  pInputText /> -->
                                <!-- {{}} -->    
                            </p-card>
                        </div>
                    </div>    
                </p-card>
            </div>
        </div>
    </body>
</form>

<!-- <h3>Current customer: {{ emp }}</h3> -->



