<form [formGroup]=reactiveForm>
    <br>
    <h2 style="text-align: center;">สมัครสมาชิก</h2>
    <hr style="width: 50%;">
    <br>

<body class="indb">
    <div class="p-grid">
        <div class="p-col-1"></div>
        <div class="p-col-12 p-md-4 p-lg-4">
            <img src="../../../assets/tcru-image.jpg" class="p-d-block p-mx-auto logo-login">
        </div>
        <div class="p-col-1"></div> 
        <div class="p-col-12 p-md-5 p-lg-5">
            <div class="p-grid">
                <div class="p-col-12 p-md-12 p-lg-12 form-group">
                    <span class="p-float-label p-input-filled">
                        <input type="text" id="username" pInputText class="p-inputtext-lg form-control"
                            formControlName="username" required minlength="6" maxlength="16"
                            pattern="^[A-Za-z0-9ñÑáéíóúÁÉÍÓÚ ]+$">
                        <label for="in_title">ชื่อผู้ใช้</label>
                    </span>
                    <div class="text-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
                        <div *ngIf="username.errors.pattern">
                            ชื่อผู้ใช้ประกอบไปด้วยa-z พิมพ์เล็กหรือพิมพ์ใหญ่
                        </div>
                        <div *ngIf="username.errors['required']">โปรดกรอกชื่อผู้ใช้</div>
                        <div *ngIf="username.errors['uniqueUsername']">ชื่อผู้ใช้นี้มีผู้ใช้แล้ว</div>
                        <div *ngIf="username.errors.minlength">
                            ชื่อผู้ใช้ควรมากกว่า6ตัว
                        </div>
                        <div *ngIf="username.errors.maxlength">
                            ชื่อผู้ใช้ควรไม่เกิน16ตัว
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-6 form-group">
                    <span class="p-float-label p-input-filled">
                        <input type="password" class="form-control" pInputText class="p-inputtext-lg form-control"
                            formControlName="password" minlength="6" maxlength="16"
                            pattern="^[A-Za-z0-9ñÑáéíóúÁÉÍÓÚ ]+$">
                        <label for="in_title">รหัสผ่าน</label>
                    </span>
                    <div class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors.pattern">
                            รหัสผ่านประกอบไปด้วยa-zพิมพ์เล็กหรือพิมพ์ใหญ่ ตัวเลข
                        </div>
                        <div *ngIf="password.errors['required']">โปรดกรอกรหัสผ่าน</div>
                        <div *ngIf="password.errors.minlength">
                            รหัสผ่านควรมากกว่า6ตัว
                        </div>
                        <div *ngIf="password.errors.maxlength">
                            รหัสผ่านควรไม่เกิน16ตัว
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6 form-group">
                    <span class="p-float-label p-input-filled">
                        <input type="password" id="password" pInputText class="p-inputtext-lg form-control"
                            formControlName="passwordConfirm" maxlength="16">
                        <label for="">ยืนยันรหัสผ่าน</label>
                    </span>
                    <div class="text-danger"
                        *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)">
                        <div *ngIf="passwordConfirm.errors['required']">โปรดกรอกรหัสผ่าน</div>
                        <div *ngIf="passwordConfirm.errors['compare']">โปรดกรอกรหัสผ่านให้เหมือนกัน</div>
                    </div>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-6 form-group">
                    <span class="p-float-label p-input-filled">
                        <input type="text" id="name" pInputText class="p-inputtext-lg form-control"
                            formControlName="firstname">
                        <label for="">ชื่อ</label>
                    </span>
                    <div class="text-danger" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
                        <div *ngIf="firstname.errors['required']">โปรดกรอกชื่อ</div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6 form-group">
                    <span class="p-float-label p-input-filled">
                        <input type="text" id="lastname" pInputText class="p-inputtext-lg form-control"
                            formControlName="lastname">
                        <label for="">นามสกุล</label>
                    </span>
                    <div class="text-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
                        <div *ngIf="lastname.errors['required']">โปรดกรอกนามสกุล</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-6 form-group">
                    <button type="submit" pButton label="สมัครสมาชิก" [disabled]="reactiveForm.invalid"
                        (click)="onClickRegis()" routerLink="/login"></button>
                </div>
            </div>
        </div>
    </div>    
</body>
    <!-- <div class="p-grid p-fluid p-p-md-12">
        <div class="p-col-1 p-sm-1"></div>
        <div class="p-col-7 p-fluid p-md-6">
            <div class="p-grid p-fluid p-p-md-12 form-group">
                <div class="p-col-1 p-md-1"></div>
                <div class="p-col-11 p-md-8">
                    <span class="p-float-label p-input-filled">
                        <input type="text" id="username" pInputText class="p-inputtext-lg form-control"
                            formControlName="username" required minlength="6" maxlength="16"
                            pattern="^[A-Za-z0-9ñÑáéíóúÁÉÍÓÚ ]+$">
                        <label for="in_title">ชื่อผู้ใช้</label>
                    </span>
                    <div class="text-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
                        <div *ngIf="username.errors.pattern">
                            ชื่อผู้ใช้ประกอบไปด้วยa-z พิมพ์เล็กหรือพิมพ์ใหญ่
                        </div>
                        <div *ngIf="username.errors['required']">โปรดกรอกชื่อผู้ใช้</div>
                        <div *ngIf="username.errors['uniqueUsername']">ชื่อผู้ใช้นี้มีผู้ใช้แล้ว</div>
                        <div *ngIf="username.errors.minlength">
                            ชื่อผู้ใช้ควรมากกว่า6ตัว
                        </div>
                        <div *ngIf="username.errors.maxlength">
                            ชื่อผู้ใช้ควรไม่เกิน16ตัว
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="p-grid p-fluid p-p-md-12">
                <div class="p-col-1 p-md-1"></div>
                <div class="p-col-6 p-sm-4 p-md-4">
                    <span class="p-float-label p-input-filled">
                        <input type="password" class="form-control" pInputText class="p-inputtext-lg form-control"
                            formControlName="password" minlength="6" maxlength="16"
                            pattern="^[A-Za-z0-9ñÑáéíóúÁÉÍÓÚ ]+$">
                        <label for="in_title">รหัสผ่าน</label>
                    </span>
                    <div class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors.pattern">
                            รหัสผ่านประกอบไปด้วยa-zพิมพ์เล็กหรือพิมพ์ใหญ่ ตัวเลข
                        </div>
                        <div *ngIf="password.errors['required']">โปรดกรอกรหัสผ่าน</div>
                        <div *ngIf="password.errors.minlength">
                            รหัสผ่านควรมากกว่า6ตัว
                        </div>
                        <div *ngIf="password.errors.maxlength">
                            รหัสผ่านควรไม่เกิน16ตัว
                        </div>
                    </div>
                </div>
                <div class="p-col-6 p-md-4 form-group">
                    <span class="p-float-label p-input-filled">
                        <input type="password" id="password" pInputText class="p-inputtext-lg form-control"
                            formControlName="passwordConfirm" maxlength="16">
                        <label for="">ยืนยันรหัสผ่าน</label>
                    </span>
                    <div class="text-danger"
                        *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)">
                        <div *ngIf="passwordConfirm.errors['required']">โปรดกรอกรหัสผ่าน</div>
                        <div *ngIf="passwordConfirm.errors['compare']">โปรดกรอกรหัสผ่านให้เหมือนกัน</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="p-grid p-fluid p-p-md-12 form-group">
                <div class="p-col-1 p-md-1"></div>
                <div class="p-col-6 p-md-4">
                    <span class="p-float-label p-input-filled">
                        <input type="text" id="name" pInputText class="p-inputtext-lg form-control"
                            formControlName="firstname">
                        <label for="">ชื่อ</label>
                    </span>
                    <div class="text-danger" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
                        <div *ngIf="firstname.errors['required']">โปรดกรอกชื่อ</div>
                    </div>
                </div>
                <div class="p-col-6 p-md-4 form-group">
                    <span class="p-float-label p-input-filled">
                        <input type="text" id="lastname" pInputText class="p-inputtext-lg form-control"
                            formControlName="lastname">
                        <label for="">นามสกุล</label>
                    </span>
                    <div class="text-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
                        <div *ngIf="lastname.errors['required']">โปรดกรอกนามสกุล</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="p-grid p-fluid p-p-md-8">
                <div class="p-col-8 p-md-1"></div>
                <div class="p-col-8 p-md-3">
                    <button type="submit" pButton label="สมัครสมาชิก" [disabled]="reactiveForm.invalid"
                        (click)="onClickRegis()" routerLink="/login"></button>
                </div>
            </div>
        </div>
        <div class="p-col-4 p-p-md-4">
            <img src="../assets/tcru-image.jpg" style="width: 60%;">
        </div>
    </div> -->
</form>