<body class="inbd">
  <!-- <div class="big-title">
    <p-tabMenu [model]="items"></p-tabMenu>
  </div>
  แสดงสินค้า
  <br><br> -->
  <div class="p-grid">
    <div class="p-col-12">
      <div class="card">
        <p-tabView [(activeIndex)]="activeIndex">
            <p-tabPanel header="Header I">
              <div class="p-grid">
                <div class="p-col-1"></div>
                <div class="p-col-12 p-md-2 p-lg-2 p-text-center">
                  <p-card>
                    <p-header class="ui-card-title">
                        <img alt="Card" src="../../../assets/primeng.png" style="width: 40%;">
                    </p-header>
                    <p style="text-align: left;"><strong>PrimNG!</strong></p>
                    <p style="text-align: right;">100$</p>
                  </p-card>
                </div>
                <div class="p-col-12 p-md-2 p-lg-2 p-text-center">
                  <p-card>
                    <p-header class="ui-card-title">
                        <img alt="Card" src="../../../assets/primeng.png" style="width: 40%;">
                    </p-header>
                    <p style="text-align: left;"><strong>PrimNG!</strong></p>
                    <p style="text-align: right;">100$</p>
                  </p-card>
                </div>
                <div class="p-col-12 p-md-2 p-lg-2 p-text-center">
                  <p-card>
                    <p-header class="ui-card-title">
                        <img alt="Card" src="../../../assets/primeng.png" style="width: 40%;">
                    </p-header>
                    <p style="text-align: left;"><strong>PrimNG!</strong></p>
                    <p style="text-align: right;">100$</p>
                  </p-card>
                </div>
                <div class="p-col-12 p-md-2 p-lg-2 p-text-center">
                  <p-card>
                    <p-header class="ui-card-title">
                        <img alt="Card" src="../../../assets/primeng.png" style="width: 40%;">
                    </p-header>
                    <p style="text-align: left;"><strong>PrimNG!</strong></p>
                    <p style="text-align: right;">100$</p>
                  </p-card>
                </div>
                <div class="p-col-12 p-md-2 p-lg-2 p-text-center">
                  <p-card>
                    <p-header class="ui-card-title">
                        <img alt="Card" src="../../../assets/primeng.png" style="width: 40%;">
                    </p-header>
                    <p style="text-align: left;"><strong>PrimNG!</strong></p>
                    <p style="text-align: right;">100$</p>
                  </p-card>
                </div>
              </div>




              <!-- <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}">
                <p-header>
                    <img alt="Card" src="../../../assets/primeng.png">
                </p-header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Save" icon="pi pi-check"></p-button>
                    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
                </ng-template>
              </p-card> -->
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>   -->
            </p-tabPanel>
            <p-tabPanel header="Header II">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                    voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
            </p-tabPanel>
            <p-tabPanel header="Header III">
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>   
            </p-tabPanel>
        </p-tabView>
      </div>
    </div>







      
  </div>
  
</body>