<br>
<br>
<br>
<br>
<br>
<ul>
    <li *ngFor="let item of productList; let i = index">
        {{item.product_name}}
    </li>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- <body class="inbd">
    <div class="grid-container">
        <mat-grid-list cols="6" rowHeight="250px">
            <mat-grid-tile *ngFor="let card of productList" [colspan]="card.cols" [rowspan]="card.rows">
                <mat-card class="dashboard-card">
                    <mat-card-header>
                        <mat-card-title>
                            {{card.product_name}}
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</body> -->